*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.container{
    width: 93%;
    height: 900px;
    background-color: bisque;
    margin: 50px;
    position: relative;
}
.p{
    font-size: 24px;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 10px;
    background-color:aquamarine;
    z-index: 2000;
}
.ab1, .ab2, .ab3{
    margin: 20px;
    height: 250px;
    width: 370px;
    
}
.ab1 p, .ab2 p, .ab3 p{
    text-align: center;
    margin-top: 115px;
}
.ab1{
    background-color: cadetblue;
    position:absolute;
    z-index: 1000;
}
.ab2{
   background-color: chartreuse;
   position: absolute;
   left: 420px;
   top: 340px;
}
.ab3{
   background-color: crimson;
   position: absolute;
   right: 0;
   bottom: 0;
}
.footer{
    
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 93%;
    background-color:dimgrey;
    margin: 0 0 1px 0;
}
.footer p{
    text-align: center; 
    margin: 20px 0 0 0;  
    color: yellow; 
}